@(title: String)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <h1>@title</h1>
        <div class="top-block"></div>
        <div class="bottom-block">
            <form id="new-lesson-type">
                <label for="input-name"></label>
            </form>
            <div id="lessons">
                <div class="lesson">
                    <span class="timeslot"></span>
                    <span class="lesson-type"></span>
                </div>
            </div>
            <form id="new-lesson-form">
                <fieldset>
                    <label for="input-type">Name des Moduls</label><input id="input-name" name="name" type="text" />
                    <label for="input-timeslot">Zeitslot</label><input id="input-timeslot" name="timeslot" type="number" />
                    <label for="input-day">Tag</label><input id="input-day" name="day" type="number" />
                </fieldset>
            </form>
            <form action="/handle" id="send-request">
                <button type="submit" value="Submit">Submit</button>
            </form>
        </div>
    </body>
</html>
